{% extends "layout.html" %}

{% block content %}

<main class="container-jz text-center p-8">
    <h1 class="text-4xl font-bold">About Us</h1>
    <p class="text-xl mt-4">
        At Smart Store Navigator, we are dedicated to revolutionizing the retail experience through innovative navigation technology. Our mission is to enhance the shopping journey by providing customers with smart, efficient, and user-friendly navigation solutions.
    </p>
    
    <!-- Added Image -->
    <img src="./static/img/aboutus.jpg" style="max-width: 80%; height: auto;margin: auto;"/>

    <p class="text-xl mt-4">
        Founded by a team of retail and technology enthusiasts, we understand the challenges shoppers face in large retail environments. Our cutting-edge solutions are designed to simplify the shopping experience, making it easier for customers to find what they need quickly and efficiently.
    </p>
    <p class="text-xl mt-4">
        Join us as we transform the way people navigate stores, making shopping a more enjoyable and seamless experience for everyone.
    </p>
</main>
{% endblock %}