{% extends "layout.html" %}

{% block content %}
<main class="text-center p-8 container-jz">
    <h1 class="text-4xl font-bold">Contact Us</h1>
    <p class="text-xl mt-4">
        We would love to hear from you! If you have any questions, feedback, or partnership inquiries, please feel free to reach out to us.
    </p>
    <div class="mt-8">
        <h2 class="text-2xl font-bold">Contact Information</h2>
        <p class="mt-2">Email: <a href="mailto:smartstorenavigator@gmail.com" class="text-green-500">smartstorenavigator@gmail.com</a></p>
        <p class="mt-2">Phone: <a href="tel:+13686035871" class="text-green-500">+1 (368) 603-5871</a></p>
        <p class="mt-2">Business Hours: Monday - Friday : 9AM-6PM</p>
    </div>
</main>
{% endblock %}